{{ $noContents := or (index .Params "no.contents") (index .Params "nocontents") (index .Params "no-contents") (index .Params "no.content") (index .Params "nocontent") (index .Params "no-content") (and .Params.no (index .Params.no "contents")) (and .Params.no (index .Params.no "content")) (eq .Params.nocontents true) }}
{{ if and (not $noContents) .TableOfContents (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") }}
<aside class="toc-wrapper">
  <div class="toc-header">
    <i data-lucide="list"></i>
    <span>On this page</span>
  </div>
  <div class="toc-body">
    {{ .TableOfContents }}
  </div>
</aside>
{{ end }}
